@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'NeueMontreal';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(assets/fonts/NeueMontreal-Regular.woff2) format('woff2');
    }
  }

@layer base {
    @font-face {
      font-family: 'FoundersGrotesk';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(assets/fonts/FoundersGrotesk-Semibold.woff2) format('woff2');
    }
  }


  img {
    object-fit: cover;
    width: 139px;
    height: 90px;
    border-radius: 7px;
  }
